.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  background: linear-gradient(to right, #649173, #dbd5a4);
}

.background {
  height: 100vh;
  width: auto;
  /* transform: rotate(90deg); */
  position: absolute;
  z-index: -1;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 1.7em;
  color: rgb(255, 214, 137);
  padding: 5px 10px;
  border-radius: 10px;
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pic {
  height: 150px;
  width: auto;
}